<h1>Introducting the Amazing Team</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <%= image_tag("anna", class: "card-img-top", width: "150")  %>
        <div class="card-body">
          <h4 class="card-title">Anna</h4>
          <p class="card-text">Amazing One!</p>
          <a href="https://github.com/AnnaRuo" class="btn btn-primary" target= "_blank" >See Github Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <%= image_tag("henock", class: "card-img-top", width: "150")  %>
        <div class="card-body">
          <h4 class="card-title">Henock</h4>
          <p class="card-text">Amazing One!</p>
          <a href="https://github.com/henockbelete" class="btn btn-primary" target= "_blank">See Github Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <%= image_tag("isis", class: "card-img-top", width: "150")  %>
        <div class="card-body">
          <h4 class="card-title">Isis</h4>
          <p class="card-text">Amazing One!</p>
          <a href="https://github.com/isisvanderplas" class="btn btn-primary" target= "_blank">See Github Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <%= image_tag("lianne", class: "card-img-top", width: "150")  %>
        <div class="card-body">
          <h4 class="card-title">Lianne</h4>
          <p class="card-text">Amazing One!</p>
          <a href="https://github.com/LiannevW" class="btn btn-primary" target= "_blank">See Github Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width:400px">
        <%= image_tag("robin", class: "card-img-top", width: "150")  %>
        <div class="card-body">
          <h4 class="card-title">Robin</h4>
          <p class="card-text">Amazing One!</p>
          <a href="https://github.com/idearobin2017" class="btn btn-primary" target= "_blank">See Github Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
