<div class="jumbotron">
  <h1><%= @product.name %></h1>

  <table "Product detail view">
    <tr>
      <th> Description:  </th>
      <td><%= %></td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= image_tag @product.image %></td>
    </tr>
    <tr>
      <th>Price: € </th>
      <td><%= @product.price %></td>
    </tr>

  </table>

</div>

<button onclick="displayCart()" type="button" class="btn btn-primary btn-lg">Add to cart</button>

<div style="display: none;" id="onceHidden">
  <%= render "cartform" %>
</div>
