
<div class="jumbotron">
  <h1><%= @product.name %></h1>

  <table "Product detail view">
    <tr>
      <th> Description:  </th>
      <td><%= %></td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th></th>
      <%= (image_tag @product.image, class: "img-thumbnail") %>

    </tr>
    <tr>
      <th>Price: € </th>
      <td><%= @product.price %></td>
    </tr>

  </table>

</div>

<button onclick="displayTotalAmount()" type="button" class="btn btn-primary btn-lg">Add to cart bitch!</button>


<div style="display: none;" id="onceHidden">

  <h1>We thought this is were customers can pick the amount of products</h1>

</div>
