<div class="jumbotron">
  <div class="container" style="text-align: center; item-align: center">
    <h2><%= @product.name %></h2>

    <table "Product detail view">
      <tr>
        <th></th>
        <td><%= image_tag(@product.image, width: "80%") %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= @product.description %></td>
      </tr>
      <tr>
        <th></th>
        <td>€ <%= @product.price %></td>
      </tr>

    </table>

  </div>
</div>
<button onclick="displayCart()" type="button" class="btn btn-primary btn-lg">Add to cart</button>

<div style="display: none;" id="onceHidden">
  <%= render "cartform" %>
</div>
